{% extends "layout.html" %}


{% block title%}
Registrate
{% endblock %}

{% block body_content %}
<div class="container d-flex justify-content-center pt-3">
    <div 
        class="bg-light border border-primary rounded d-flex flex-column" 
        style="width: 65%;"
    >
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h5 class="text-center">Pon tus credenciales y valida tu contenido </h5>
        <form action="{{url_for('register')}}" method="POST" class="d-flex flex-column justify-content-center align-items-center">
            <div class="mb-3">
                <label for="fullname" class="form-label">Nombre completo</label>
                <input type="text" class="form-control" name="fullname" id="password">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">La clave</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="m-3 btn btn-primary" style="width: 35%;" id="login_back">Registrarte</button>
        </form>
    </div>
    </div>
</div>
{% endblock %}
