{% extends "index_session.html" %}

{% block style%}
<style>
    #divBar {
        height: 30px;
        text-align: center;
        box-shadow: 2px 6px 5px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 6px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 6px 5px -1px rgba(0,0,0,0.75);
    }
    #divFrame {
        width: 100%;
        background-color: #F6F6F6;
        justify-content: center;
        display: flex;
    }
    #divCard {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: white;
        width: 50%;
        margin: 30px;
        box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.75);
    }
    #divCenter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 0em 0em 1em 0em;
        padding: 0;
    }
    #idCardHeader {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    #idCardBody {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #idCardItem {
        width: 95%;
        height: 80px;
        margin: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #idCardIconText {
        height: 100%;
        width: 80%;
        display: flex;
    }
    #idCardIconText img {
        border-radius: 50px;
        margin-right: 10px;
        border: 1px solid #555;
    }
    h4 #title {
        padding: 0px !important;
        margin: 0px !important;
    }
    #idCardTotal {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #idCardTotal h4 {
        margin: 5px;
        padding: 5px;
    }
    #hrFinal {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0em 0em 0em;
        padding: 0;
    }
    #cardButtonConfirm {
        display: flex;
        align-items: center;
        margin: 2px;
        justify-content: center;
        height: 50px;
    }
    
</style>
{% endblock %}