<!DOCTYPE html>
<html style="height: 100%; width: 100%; padding: 0px; margin: 0px;">
<head>
    <title>Demo AWS store</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript, demo">
    <meta name="author" content="Equipo de plataformas 2022-01">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!---Library external to generated datetime-->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block style %}{% endblock %}
</head>
<body style="height: 100%; width: 100%; padding: 0px; margin: 0px;">
    <div id="divBar">
        <h3>¡hola {{nickname}}!</h3>
    </div>
    <div id="divFrame">
        <div id="divCard">
            <div id="idCardHeader">
                <h4 id="title" style="margin: 0px;">Fecha de creación: {{creation_date}}</h4>
                <h4 id="title" style="margin: 0px;">Tu nombre completo es {{fullname}}</h4>
            </div>
            <hr/>
			<div id="idCardBody">
				<div id="divCenter">
					<h2> Mi cumpleaños es:</h2>
					<div id="datepicker1"></div>
				</div>
				<div id="divCenter">
					<h2>Y mis años de vida en la tierra son:</h2>
					<p>{{age}}</p>
				</div>
			</div>
        </div>
    </div>
	<script type="text/javascript">
		let data = {{birthday|tojson}};
		console.log(data);
		$(function() {
			$("#datepicker1").datepicker({
				numberOfMonths:1,
				dateFormat: "yy-mm-dd",
				defaultDate: data.birthday
			}); 
		});
	  </script>
</body>
</html>